main {
  margin-top: 5em;
  margin-left: 1em;
  margin-right: 1em;
  & div {
    @extend %center;
    max-width: 100%;
    & img {
      @extend %center;
    }
  }
}

header p {
  background-color: red;
  height: 5em;
  @include flexy(flex, column, null, center);
  border-radius: 10px 10px 0 0;
  background: linear-gradient(to bottom left,  #fff,#0ac20a,#85e085,#33ff33,#4dff4d,#85e085,#66ff99, #fff);
  margin: 0;
  & > span {
    border-top: 1px solid $white;
    @extend %center;
    width: 20%;
  }
}

body {
  margin: 0;
  max-width: 1200px;
  margin: 0 auto;

}

h2,
h1,
h3 {

  margin-top: 1em;
}



.call-action {
  margin: 0;
  transform: translate(0%, 185%);
  z-index: 2;
  color: $white;
  background-color: rgba(0, 230, 138, .5);
  margin: 0 auto;
  border-radius: 15px 15px 0px 0px;
  text-shadow: 1px 0px 0px $black;
  @include mq(small){
    display: none;
  }

}




.overlay {
  background-color: rgba(0,0,0,.5);
  border-radius: 15px;
  @include flexy(flex, column, null, center);
  padding: 1em;
  max-width: 100%;
  transform: translate(1000%, -100%);
  opacity: 0;
  & > p {
    margin: 0;
  }
  & > h3 {
    margin-top: 0;
  }
}


.connect,
.contact {
  margin-top: 1em;
  border-top: 1px solid $light-grey;
  width: 75%;
  @extend %center;
}



footer {
  margin-top: 3em;
  margin-bottom: 2em;
}

img {
  transition: transform .5s cubic-bezier(.42,0,.58,1);

}

//positions loader overlay
.loader {
	position: fixed;
	left: 0px;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: $white;
}
  //centers the loading icon
.lds-spin {
    transform: scale(0.5);
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -75px;
    margin-left: -75px;
}
